@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&family=Roboto:wght@100;400;500;700&display=swap');
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt{
    margin-right: 50px;
    color: rgb(4, 4, 4);
}
.imagen{
    width: 550px;
    height: 550px;
    border-radius: 50px;
}
body{
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.parrafo{
    margin-right: 60px;
    font-family: 'Poppins', sans-serif;
}
.copy{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.logo img{
    height: 6rem;
}
.header-landing{
    display: flex;
    justify-content: center;
    background: #f2f2f2;
    padding: 0.25rem;
 }
 
 .logo-header{
     max-width: 35px;
     height: 100%;
     width: 100%;
     float: left;
 }
 
 .hero-section{
     height: 90vh;
     background: url();
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-color: rgba(106, 141, 163, 0.7);
     background-blend-mode: multiply;
     display: flex;
     align-items: center;
 }
 
 .wrap-hero-section{
     max-width: 600px;
     color: #fff;
     padding: 15%
 }
 
 .section{
     margin: 5rem 0;
 }
 
 .section h2{
     padding: 2rem 0;
 }
 
 .wrap-logos-section{
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
 }
 
 .logo-brand{
     width: 200px;
     padding: 1rem 2rem;
     filter: grayscale(1);
 }
 
 .wrap-title-section{
     display: flex;
     justify-content: center;
     margin: 3rem 1rem;
 }
 
 .wrap-servicios-section{
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
 }
 
 .item-servicios-section{
     padding: 1rem;
 }
 
 .item-servicios-section img{
     width: 300px;
     height: 225px;
 }
 
 .wrap-two-column{
     display: grid;
     grid-template-columns: 1fr 1fr;
     max-width: 1200px;
     margin: 0 auto;
 }
 
 .wrap-img_two-column{
    padding: 2rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
 }